@using Microsoft.AspNetCore.Mvc.Localization
@model OOODERP.Models.Client
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["TITLE_Edit"];
}

<h2>@Localizer["TITLE_Edit"]</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>@Localizer["lblClient"]</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ClientID" />
        <div class="form-group">
            <label asp-for="ClientName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@Localizer["lblSave"] class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">@Localizer["lblBacktoList"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
