#SystemMenu {
background-color: #222;
}

#SystemMenu ul {
list-style: none;
}

#SystemMenu ul > li {
position: relative;
display: inline-block;
padding:10px;
line-height: 20px;
}

#SystemMenu ul li a {
color: #9d9d9d;
text-decoration: none;
}

#SystemMenu ul > li:hover {
background-color: red;
}

#SystemMenu ul li a:hover {
color: white;
}

#SystemMenu ul li ul {
display: none;
position: absolute;
left: 0;
padding-left: 0;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
background-color: white;
color: MenuText;
width: 100%;
}

#SystemMenu ul li:hover > ul {
display: block;
}

#SystemMenu ul > li > ul > li:hover {
background-color: Menu;
color: black;
width: 100%;
}

#SystemMenu ul > li > ul > li a {
color: black;
}

#SystemMenu ul > li > ul > li a:hover {
    color: black;
}
    #SystemMenu ul > li > ul > li > ul {
        position: relative;
        margin-left: 25%;
        width:100%;
    }
        #SystemMenu ul > li > ul > li > ul > li {
            position: relative;
            padding:10px;
            width:100%;
        }
  